body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #2c3e50; /* Dark background color */
  color: #ecf0f1; /* Light text color */
}

#game-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #34495e; /* Dark border color */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Dark box shadow */
  transition: width 0.3s ease;
  background-color: #34495e; /* Dark background color */
}

input {
  padding: 8px;
  margin: 10px 0;
  background-color: #2c3e50; /* Dark input background color */
  color: #ecf0f1; /* Light input text color */
  border: 1px solid #566573; /* Dark input border color */
}

button {
  padding: 10px;
  background-color: #3498db; /* Blue button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; /* Darker blue button color on hover */
}

#previous-guesses {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#previous-guesses li {
  margin: 0 5px;
}
